{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'movies_create' %}" class="btn btn-primary">Add new</a>

    <h1>Movie list</h1>
    <ul>
        {% for movie in object_list %}

            <!-- Afisam doar titlul filmului -->
            {% comment %}
            <li>{{ movie.title }}</li>
            {% endcomment %}

            <li>
                <a href="{% url 'movies_detail' movie.id %}">{{ movie.title }} -- {{ movie.pk }}</a>
            </li>

        {% endfor %}
    </ul>
{% endblock %}