{% extends 'base.html' %}

{% block content %}

<h1>{{ object.title }}</h1>
<p>Genre: {{ object.genre.name }}</p>
<p>Rating: {{ object.rating }}</p>
<p>Released: {{ object.released }}</p>
<p>Description: {{ object.description }}</p>
<p>Added at: {{ object.created }}</p>

<h3>Actors</h3>
<ul>
    <!-- Pentru field-uri manytomany trebuie folosit .all -->
    <!-- pentru a itera printre obiecte -->
    {% for actor in object.actors.all %}
        <li>{{ actor.name }}</li>
    {% endfor %}
</ul>

{% if perms.viewer.change_movie %}
<a class="btn btn-warning" href="{% url 'movies_update' object.pk %}">
    Edit
</a>
{% endif %}

{% if perms.viewer.delete_movie %}
<a class="btn btn-danger" href="{% url 'movies_delete' object.pk %}">
    Delete
</a>
{% endif %}

<!--     Verificam daca utilizatorul care vizioneza pagina a adaugat-->
<!--     deja un review-->
<!--     Daca nu, atunci ii vom afisa formularul-->
{% if not user_already_reviewed %}
<div>
    <h1>Adauga o recenzie</h1>
    <form method="post" action="{% url 'add_review' object.id %}">
        {% csrf_token %}
        <label for="rating">Rating</label>
        <select id="rating" name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <br>
        <label for="description">Adauga un comentariu (optinal): </label>
        <input type="text" id="description" name="description">
        <br>
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</div>
{% endif %}


<div>
    <h1>Recenzii</h1>
    <a href="{% url 'reviews' object.pk %}">Vezi toate</a>
    <ul>
        {% for review in reviews %}
        <li>
            <p>Adaugat de {{ review.user.username }}</p>
            <p>Rating: {{ review.rating }}</p>
            <p>Descriere: {{ review.description }}</p>
            {% if review.user == user %}
                <a class="btn btn-danger" href="{% url 'delete_review' review.pk %}">Delete</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>


{% endblock %}


