{% extends 'base.html' %}

{% block content %}
    <!-- Afisam butonul doar daca utilizatorul are voie sa adauge un film -->
    <!-- perms este un obiect pus automat de Django care contine toate permisiunile utilizatorului care  -->
    <!-- acceseaza pagina, sub forma: -->
    <!-- perms.numeaplicatie.numeactiune_numemodel -->
    {% if perms.viewer.add_movie %}
        <a href="{% url 'movies_create' %}" class="btn btn-primary">Add new</a>
    {% else %}
        <p>Nu poti adauga filme!</p>
    {% endif %}

    <h1>Movie list</h1>
    <ul>
        {% for movie in object_list %}

            <!-- Afisam doar titlul filmului -->
            {% comment %}
            <li>{{ movie.title }}</li>
            {% endcomment %}

            <li>
                <a href="{% url 'movies_detail' movie.id %}">{{ movie.title }} -- {{ movie.pk }}</a>
            </li>

        {% endfor %}
    </ul>
{% endblock %}